[Desktop Entry]
Encoding=UTF-8
Name=Prux Core
Comment=Connect to the Prux P2P Network
Comment[de]=Verbinde mit dem Prux peer-to-peer Netzwerk
Comment[fr]=Prux, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Prux, eşten eşe kriptografik sanal para birimi
Exec=prux-qt %u
Terminal=false
Type=Application
Icon=prux128
MimeType=x-scheme-handler/prux;
Categories=Office;Finance;
