[Unit]
Description=Prux's distributed currency daemon
After=network.target

[Service]
User=prux
Group=prux

Type=forking
PIDFile=/var/lib/pruxd/pruxd.pid
ExecStart=/usr/bin/pruxd -daemon -pid=/var/lib/pruxd/pruxd.pid \
-conf=/etc/prux/prux.conf -datadir=/var/lib/pruxd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
